# Arquivo .gitignore para a biblioteca fast-serializer (C++)

# ####################### #
#  Compilação e Build   #
# ####################### #

# Ignorar o diretório de build inteiro.
# Contém a biblioteca (.a), os arquivos objeto (.o) e o executável de teste.
build/

# Ignorar arquivos de compilação que possam ser criados fora da pasta de build
*.o
*.a
*.so
*.dll
*.d


# ############################### #
#  Arquivos de IDE e Editores   #
# ############################### #

# Visual Studio Code
# Ignora tudo, exceto as configurações de projeto que são úteis para compartilhar.
.vscode/*
!.vscode/c_cpp_properties.json
!.vscode/settings.json
!.vscode/launch.json

# Outros editores comuns
.idea/
*.swp
*.swo
*~


# ############################### #
#  Arquivos de Sistema Operacional #
# ############################### #

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini


# ####################### #
#        Outros         #
# ####################### #

# Ignorar arquivos de crash dump
core.*
*.stackdump

# Ignorar arquivos de saída do programa de teste
*.dfb